.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 4px;
}

.custom-scrollbar {
    padding-right: 5px;
    overflow-y: scroll;
}

.testMain {
    background-color: red;
}

.dashboard-layout {
    width: calc(100vh-15rem);
}
